<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jumio.react">
    
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    
    <application>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
	
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode, face"
            tools:replace="android:value"/>
            
        -keep class net.sf.scuba.smartcards.IsoDepCardService {*;}
        -keep class org.jmrtd.** { *; }
        -keep class net.sf.scuba.** {*;}
        -keep class org.bouncycastle.** {*;}
        -keep class org.ejbca.** {*;}
        
        -dontwarn java.nio.**
        -dontwarn org.codehaus.**
        -dontwarn org.ejbca.**
        -dontwarn org.bouncycastle.**
    </application>
    
</manifest>
